*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-title{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: rgb(18, 197, 152);
    font-size: 3rem;
    padding-top: 1rem;
}

.main-container{
    max-width: 600px;
    margin: 0 auto;
}

.todo-input-container{
    max-width: 500px;
    height: 5rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.todo-input{
    flex-grow: 100;
    flex-shrink: 10;
    padding: .5rem;
    border: 2px solid black;
    border-radius: 1rem;
}

.todo-btn{
    flex-grow: 1;
    padding: .5rem;
    border: 2px solid black;
    border-radius: 1rem;
}

.container-decor{
    width: 800px;
    min-height: calc(100vh - 8rem);
    margin: 0 auto;
    padding: 20px;
    background-image: url(../img/free-texture-fogli-block-notes-L-TYuCTr.jpg);
    background-size: cover;
    border-radius: 1rem;
}

.todo-output-container{
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 1rem;
    border: 3px solid black;
}

.todo-item:hover{
    background-color: gray;
}

.todo-item{
    width: 90%;
    height: 2rem;
    margin: 0 auto 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    background-color: rgb(180, 178, 178);
    border-radius: .5rem;
}

.todo{
    margin-left: 10px;
}


.delete-output{
    font-size: 1rem;
    margin-right: 20px;
    padding: .3rem;
    background-color: transparent;
    border: none;
}

.check{
    text-decoration: line-through;
}