*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.todo-input-container{
    max-width: 500px;
    height: 6rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.todo-input{
    flex-grow: 100;
    flex-shrink: 10;
    padding: .5rem;
    border: 2px solid black;
    border-radius: 1rem;
}

.todo-btn{
    flex-grow: 1;
    padding: .5rem;
    border: 2px solid black;
    border-radius: 1rem;
}

.todo-output-container{
    max-width: 700px;
    height: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(180, 178, 178);
    border: 1px solid white;
    border-radius: .5rem;
}

.todo-output-container:hover{
    background-color: gray;
}

.todo{
    margin-left: 10px;
}


.delete-output{
    margin-right: 20px;
}