<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List By Uva</title>
    

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="js-root">

        <section class="head-title">
            <h1 class="title">&#x2802;&#x2802;&#x2802;ToDo List &#x2802;&#x2802;&#x2802;</h1>
        </section>

        
        <div class="todo-input-container">
            <input v-model="newTodo" @keyup.enter="addTodo" type="text" name="todo-input" id="js-todo-input" class="todo-input" placeholder="Inserisci Todo">
            <button @click="addTodo()"  class="todo-btn">Aggiugngi</button>
        </div>
        
        <div class="container-decor">
            <ul class="todo-output-container">
                <li v-for="(element, index) in todos" class="todo-item">
                    <div @click="toggle(element)" :class="element.isDone ? 'check' : ''" class="todo"> {{ todos[index].id +' - '+ todos[index].name }} </div>
                    <button @click="delteTodo(element)" class="delete-output">x</button>
                </li>
            </ul>
        </div>
        

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>